[2017-05-03 16:54] vmarkovtsev opened #90 "Move margin from article.post to inner tags"
I want to have the margin in the inner tags so images can be wider than 600px.

[2017-05-04 10:32] vmarkovtsev commented on #90
My hacky workaround:

[code]

[2017-05-05 16:58] smacker opened #92 "kallax blog post: nullable types"
One of the most popular ORMs supports pointers for years. It's very strange to see that you couldn't find it:
https://github.com/jinzhu/gorm/blob/master/pointer_test.go

[2017-05-05 18:27] erizocosmico commented on #92
They do use `sql.NullInt64` in the docs (http://jinzhu.me/gorm/models.html) so we kind of assumed it didn't have support for pointers.

[2017-05-05 19:36] smacker commented on #92
we use pointers quite often in our project. Also it's recommended way to deal with nullable types, even it's not reflected in documentation: https://github.com/jinzhu/gorm/issues/1057

[2017-06-09 18:14] margaridag opened #100 "Having blog.sourced.tech/firstnamelastname for each person"
@marnovo let me know what you think about having one URL that redirects to all blog posts from each person/writer in the team.

It would be great for each personally so they can easily add it wherever they want (personal websites, twitter, CFPs sent, etc.) and for us to share with external people interested in a specific area as well.

If we want to do it even further, we could also have another U

[2017-06-14 15:32] marnovo opened #102 "Documentation in readme"
Add documentation in the `README.md` on how to:
  - Write a new blog post
  - Preview blog posts locally
  - Deploy blog posts in production
  - Add/edit authors

[2017-06-14 22:14] margaridag commented on #100
@marnovo did you have time to look at this?

[2017-06-16 11:42] marnovo commented on #100
@margaridag, yep I added your feature request to [features/issues/#241](https://github.com/src-d/features/issues/241) for discussion. Let's keep projects' repo issues just for problems or engineering workflow.

@src-d/platform please close this, svp!

[2017-07-05 16:19] vmarkovtsev opened #112 "Clear old docker images"
[code]

\+ do we clear the garbage in the new deployment scheme? This eats the space.

[2017-07-12 13:15] vmarkovtsev commented on #102
Copied from Sergio:

Deployment:
==========

The process is quite similar to the one used [to deploy the Landing](LANDING.md)

## Production

[Production blog](http://blog.sourced.tech)

1. Push a new commit with the new code and wait for [travis-ci.org/src-d/blog](https://travis-ci.org/src-d/blog) to finish the build and provide the new image url (that will have the format: `quay.io/srcd/blog:${H

[2017-07-20 13:43] smeruelo opened #119 "quay.io images should not be private"
Same as https://github.com/src-d/landing/issues/72

Our licence with quay gives us 50 private repositories, and we already have 46 in use. If the repo at github is public, I'd say the images at quay could be too.

[2017-08-01 13:15] Serabe opened #124 "Standardize post specific assets location"

[2017-08-25 11:09] rporres commented on #119
Done!

[2017-08-25 11:09] #119 closed

[2017-10-10 14:14] marnovo commented on #102
Still missing documentation for the repo… Will create an issue in the backlog.

[2017-10-16 22:57] marnovo opened #139 "Slack form on blog does not work"
When filling the form with an email address and clicking the button the button is disabled but no success or failure message is displayed, and the invitation doesn't go through. Happens to both top and bottom forms.

[2017-10-17 08:45] erizocosmico commented on #139
More info: failure on JS side related to analytics stuff.

[2017-10-17 10:45] dpordomingo opened #141 "Remove HTML code from old posts"
There are a lot of posts having HTML code inside, what is not allowed

Since we're trying to have a maintainable blog and being able to redesign it easily we decided to forbid HTML code inside the blog posts after the redesigned. Instead of HTML code, it must be used the available `shortcodes` for the blog, that can be found in the [README.md](https://github.com/src-d/blog/blob/master/README.md)

[2017-10-17 10:45] dpordomingo commented on #141
/cc @marnovo

[2017-10-17 10:54] vmarkovtsev commented on #141
@dpordomingo The old posts must be updated, it's the upcoming one only.

[2017-10-20 16:48] marnovo commented on #100
@dpordomingo close svp.

[2017-10-20 16:51] marnovo commented on #102
Issue created: https://github.com/src-d/backlog/issues/1058

[2017-10-20 17:01] marnovo commented on #124
@dpordomingo please close this, already included in https://github.com/src-d/backlog/issues/1058

[2017-10-20 17:06] marnovo commented on #141
@vmarkovtsev where are the interns who were updating this? :trollface:

[2017-10-20 20:45] dpordomingo commented on #124
@marnovo I have no privilege to close blog issues. Maybe @mcuadros?

[2017-10-20 20:46] dpordomingo commented on #100
@nativo I have no enough privileges. Maybe @mcuadros?

[2017-10-20 21:17] marnovo commented on #124
Or @vmarkovtsev, but you should have permissions over the blog. Ask for it
on issues-general.

On Oct 20, 2017 10:45 PM, "David" <notifications@github.com> wrote:

[2017-10-25 19:14] dpordomingo opened #143 "Review webpack behavior"
user story: _"As a blog developer and publisher I'd like to know how to develop and rise the blog"_

[When it was added webpack](https://github.com/src-d/blog/commit/aa482763f32126aa349783ff1b51c5a163fc85ba) to the project, it was added generated code that can be updated only with `yarn install && node_modules/.bin/webpack` but it is not documented at all

[2017-10-25 19:15] dpordomingo commented on #102
Consider the following:
https://github.com/src-d/blog/issues/143

[2017-10-25 19:27] dpordomingo commented on #139
@vmarkovtsev could you close this issue after merging https://github.com/src-d/blog/pull/144

[2017-10-25 19:29] erizocosmico commented on #139
You can add “Closes #issueid” to the PR and it’s done automatically.
On Wed, 25 Oct 2017 at 21:27, David <notifications@github.com<mailto:notifications@github.com>> wrote:

@vmarkovtsev<https://github.com/vmarkovtsev> could you close this issue after merging #144<https://github.com/src-d/blog/pull/144>

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHu

[2017-10-27 10:20] #139 closed

[2017-10-30 18:55] dpordomingo commented on #112
@vmarkovtsev or @rporres could you please close this one, already answered in the closed issue:
https://github.com/src-d/issues-infrastructure/issues/58

[2017-10-30 21:49] dpordomingo commented on #90
It was already solved with the `grid` shortcode
https://github.com/src-d/blog/blob/master/themes/hugo-steam-theme/static/css/screen.css#L817

You can obtain a 1000px container doing:
[code]

If it suits you, please close this issue :) (I can not do it)

[2017-10-30 22:36] dpordomingo commented on #102
@vmarkovtsev Due to the other issues that supersedes this one, please close this issue

[2017-10-31 06:59] vmarkovtsev commented on #102
@marnovo Given your blessing

[2017-10-31 06:59] #102 closed

[2017-10-31 09:57] rporres commented on #112
Old environment has been deleted as we've migrated to k8s

[2017-10-31 09:57] #112 closed

[2017-10-31 11:26] dpordomingo opened #147 "Tab vs spaces uses external content hosted at github, but served in an uncommon way"
The https://blog.sourced.tech/post/tab_vs_spaces article uses content hosted at http://content.blog.sourced.tech/tabs_spaces/index.html from https://github.com/src-d/tab-vs-spaces repository

It should be considered to migrate to a `codepen` shortcode

[2017-10-31 11:29] dpordomingo commented on #147
@rporres Should we be aware of any infra concern like maintainability of this custom domain or so?

[code]

[2017-10-31 11:33] vmarkovtsev commented on #147
@dpordomingo This is a very buzzed post, and the link appears on many 3rd party sites. At least do a redirect from the old address. Are you sure that codepen can hold a 10k/hour? I guess they will rate limit - and this will be common in future posts.

[2017-10-31 11:56] #124 closed

[2017-10-31 11:57] dpordomingo commented on #90
If https://github.com/src-d/blog/issues/90#issuecomment-340595442 does not suit you, feel free to reopen the issue :D

[2017-10-31 11:57] #90 closed

[2017-10-31 13:07] dpordomingo commented on #147
thanks @vmarkovtsev for that good feedback. We will consider that

[2017-10-31 13:09] dpordomingo commented on #147
The post address would not changed for sure.
We will consider the codepen rate limits, thanks @vmarkovtsev for your grat feedback!!!

[2017-10-31 17:28] dpordomingo opened #150 "Follow src-d/ci/Makedile.main conventions"
As it was pointed out by @rporres by https://github.com/src-d/blog/pull/146#discussion_r148014089 the `landing/Makefile` should import and follow [src-d/ci/Makedile.main](https://github.com/src-d/ci/blob/master/Makefile.main) conventions.

copied at https://github.com/src-d/landing/issues/216

[2017-10-31 19:27] #143 closed

[2017-10-31 19:27] dpordomingo commented on #143
merged via Use webpack to build assets #146

[2017-10-31 19:52] dpordomingo opened #151 "Considering a blog relicensing"
Considering @erizocosmico @marnovo and @bzz comments https://github.com/src-d/blog/pull/148#discussion_r147990693 it may be considered the blog relicensing, currently:
[code]
https://github.com/src-d/blog/blame/master/LICENSE

[2017-11-02 19:13] #100 closed

[2017-11-04 07:17] vmarkovtsev opened #153 "Multiline headings have too long line spacing"
![image](https://user-images.githubusercontent.com/2793551/32403390-8782a284-c138-11e7-9678-dc0b851cef1d.png)

[2017-11-07 14:42] dpordomingo commented on #151
Clarified at https://github.com/src-d/blog/pull/148#discussion_r149308218
I'll create a PR with the relicensing as soon as possible.

[2017-11-08 07:39] #153 closed

[2017-11-08 08:08] #151 closed

[2017-11-08 08:15] dpordomingo commented on #151
It was opened an issue in guides https://github.com/src-d/guide/issues/69 to consider the license of editorial content.

[2017-12-04 23:59] campoy opened #162 "Clarify deployment process"
Once the code has been merged, how do I deploy the new version to production?

[2017-12-05 07:49] vmarkovtsev commented on #162
You create the next tag and push it to master. E.g. I have created `v1.1.5` after merging #161 and it was automatically deployed.

[2017-12-05 08:04] dpordomingo commented on #162
@campoy here is de how to :)

[2017-12-05 08:06] dpordomingo commented on #162
@campoy here is de how to :)
https://github.com/src-d/guide/pull/70

[2017-12-05 08:06] dpordomingo commented on #162
S

[2017-12-05 08:06] #162 closed

[2017-12-05 08:08] dpordomingo commented on #162
Feel free to reopen if you think the guide sould be improved, or it is not enough

[2017-12-08 01:39] vardhanapoorv opened #168 "On the blog page join slack button disabled"
On the blog page join slack button disabled Wanted to report bug also https://blog.sourced.tech/ on this page the place to enter the email id to join slack channel does not work that button does not work. OSX and chrome browser. When I press command key inside that text-box then only the button is enabled and clickable

<img width="847" alt="screen shot 2017-12-08 at 7 12 31 am" src="https://user-

[2017-12-08 01:42] vardhanapoorv opened #169 "On the blog page join slack button disabled Wanted to report bug also https://blog.sourced.tech/ on this page the place to enter the email id to join slack channel does not work that button does not work. OSX and chrome browser. When I press command key inside that text-box then only the button is enabled and clickable"
<img width="847" alt="screen shot 2017-12-08 at 7 12 31 am" src="https://user-images.githubusercontent.com/13391028/33747004-9d2eb168-dbe6-11e7-8edf-8cce0e0f353c.png">

[2017-12-13 10:46] vmarkovtsev opened #170 "Add PDF viewer"
The blog post I am currently working on requires showing a PDF file. I talked to @dpordomingo and he confirmed there is no existing shortcut and suggested https://pdfobject.com/ as an implementation. So this is a feature request.

cc @marnovo

[2017-12-13 13:08] dpordomingo commented on #170
I just googled for some PDF library and found that. It should be needed to analyze if that one (or any other) fits your expectations.

[2017-12-13 13:37] vmarkovtsev commented on #170
It fits perfectly if there is a way to open the PDF in new tab.

[2017-12-15 12:52] dpordomingo commented on #168
Thanks for reporting @vardhanapoorv !!
We're glad for your interest on us, and thanks for helping us to improve our blog!

I could not reproduce the bug.
Were you able to find a workaround to join our SlackChannel?

[2017-12-15 12:54] dpordomingo commented on #169
Lets follow this issue in the other one https://github.com/src-d/blog/issues/168 :)

[2017-12-15 12:54] #169 closed

[2017-12-15 12:56] dpordomingo commented on #168
I found another issue https://github.com/src-d/blog/issues/169 providing more details about how to reproduce the bug, so updated this issue description with the https://github.com/src-d/blog/issues/169 title.

We'll try to reproduce it that way :D

[2017-12-15 13:00] dpordomingo opened #172 "When user right/middle clicks in a link, the link is opened in the same tab"
Reported via tweeter https://twitter.com/hoelzro/status/937732969623642112

[2017-12-15 13:03] dpordomingo commented on #172
It may be a problem with GoogleAnalytics links highjacking.
I tried with Chrome, and it could not be reproduced, but I found another problem:

Once we start working in this issue, we should let the user to know about this issue :D

[2017-12-15 13:03] smacker commented on #172
Confirm on MacOS + Safari. Cmd+Click doesn't open page in new tab. Very annoying.

[2017-12-15 15:48] vardhanapoorv commented on #168
Yes I joined the slack channel through the home page since through blog page I wasn't able to

[2017-12-19 11:28] smeruelo opened #173 "Move blog container images to dockerhub"
Every public repo should be hosted in https://hub.docker.com/ instead of quay.

Once a new repo in dockerhub is created and images have been copied there, assign this issue to Infra team know so they can configure `drone` to work with the new registry instead.

[2018-01-09 17:57] campoy opened #174 "Implement social media cards"
Currently links to the blog post appear as simple links when posted to social media.

We should implement at least twitter and facebook cards.
A good article on the topic: https://www.koozai.com/blog/social-media/social-markup/

[2018-01-09 18:36] dpordomingo commented on #174
That's a good point and a must-have.

Lets confirm:

**Facebook Open Graph:**
- `og:description`: article front matter description
- `og:url`: absolute url to the content
- `og:image`: article front matter image absolute url
- `og:type`: `article` (always)
- `og:site_name`: `{{.Site.Params.name}}` &rarr; will render `source{d}`

**Twitter Cards**
- `twitter:card`: article front matter title
- `twi

[2018-01-09 18:48] campoy opened #175 ""Why did I join source{d}" the blog series"
Each new employee should write a "why did join source{d}" as proposed by @bzz on https://github.com/src-d/devrel/issues/5

[2018-01-09 18:57] vmarkovtsev commented on #175
Shall every former employee write "why did leave source{d}" as well? :trollface: @smola @serabe

[2018-01-09 23:31] campoy commented on #175
I'm not against it! After all I wrote a "why I left Google" so ...

[2018-01-09 23:33] campoy commented on #174
I think we should use a different image, something like `social_image` but fallback to `image` when that one is not available (such as in older blog posts)

no need to add those on blog listings (if by that you mean a list of blogs such as blog.sourced.tech)

[2018-01-09 23:47] dpordomingo commented on #174
Yes, the fallback will be needed, and it's easy to do.

Yes, I meant the blog home and it's paginations, so ok: let's consider only the articles.

[2018-01-10 00:21] campoy commented on #172
Are we working on this?
I faced it today again and it's indeed quite annoying.

[2018-01-10 10:43] dpordomingo commented on #172
This issue was not prioritized yet :(

[2018-01-10 14:12] bzz commented on #175
This sounds great!

To kick-start this effort, @campoy do you think it can be possible to cross-post your post first? Then, I believe, @smacker and @carlosms might be encouraged enough to follow your steps.

[2018-01-11 03:53] campoy commented on #175
Absolutely, I'll send a PR with the content. It was already written in markdown for campoy.cat 😄

[2018-01-11 04:05] campoy commented on #172
Ok, let's try to prioritize this as it causes friction on the visitors we get

cc @marnovo

[2018-01-11 04:06] campoy commented on #175
Update: https://github.com/src-d/blog/pull/177

[2018-01-11 05:46] dpordomingo opened #178 "Remove Hotjar Tracking Code"
We have the following tracking code in our site [themes/hugo-steam-theme/layouts/partials/js.html#L40](https://github.com/src-d/blog/blob/b956f3c515d601347bb43bcc6626c87aa77a1125/themes/hugo-steam-theme/layouts/partials/js.html#L40)
[code]

I think we had a conversation about it in slack but it might be archived so I couldn't find it.

Could we drop this tracking script?

[2018-01-11 05:46] dpordomingo commented on #178
@eiso might know about this

[2018-01-11 05:57] dpordomingo commented on #178
Adding the link to the file where Hotjar appears, I realized that the [conversation was about removing adds](https://github.com/src-d/blog/commit/e30558f852a6f417ec536716648246501dc232be), not about this heat map tracking tool, [added by 21daf10](https://github.com/src-d/blog/commit/21daf104a0d442926e81024db41b4289131865da).

Feel free to reopen if it is no longer used and/or we should delete it.

[2018-01-11 05:57] #178 closed

[2018-01-11 10:38] eiso commented on #178
This is with @marnovo, since he was using it to evaluate effectiveness of the site.

[2018-01-11 17:52] vmarkovtsev opened #179 "Feature request: filter posts by author"
I have been in need of this feature for a long time: many people ask for my posts and I cannot give a single link. Instead, I have to go through the whole blog again and again and record the links. Would be super useful to query all the posts by a specific author.

[2018-01-11 19:46] dpordomingo commented on #179
You're right. That's a must have.
I'm not sure if that will be easy, or if it will require a small hack, but we can study it.

[2018-01-12 22:39] campoy commented on #174
I'd like to prioritize this too, @marnovo
Thanks!

[2018-01-12 22:50] campoy opened #180 "write "Calling C functions from BigQuery with webassembly""
Initial effort is here

- https://gist.github.com/campoy/b0d36c2c115920d2dd5c8b0188879b32

related twitter threads:
- https://twitter.com/francesc/status/951935862467514368
- https://twitter.com/francesc/status/951928798026412032

[2018-01-18 10:39] vmarkovtsev opened #181 "Spurious bullets in minhashcuda post"
There are bullets after indices in https://blog.sourced.tech/post/minhashcuda/

![screen shot 2018-01-18 at 11 37 57](https://user-images.githubusercontent.com/2793551/35093970-2f89e71c-fc44-11e7-8e11-a596e1e37032.png)

[2018-02-05 01:03] Serabe commented on #175
I have no problem writing one when I find some time.

[2018-02-09 12:39] #174 closed

[2018-02-09 13:03] #172 closed

[2018-03-02 17:37] campoy commented on #180
First draft ready on https://github.com/src-d/blog/pull/191
Also published on https://blog-staging.srcd.run/post/calling-c-functions-from-bigquery/

[2018-03-02 17:37] campoy commented on #180
deadline: 2018/03/06

[2018-04-06 09:56] vmarkovtsev opened #196 "shortcode request: PDF"
I want to have the ability to demonstrate a PDF file from the blog post page.

feature description: https://github.com/src-d/feature-idea/issues/48

[2018-04-10 17:19] campoy opened #199 "Add social media "share" buttons on blog posts"
Once you're done reading a blog post, you might want to share it with your friends.
I recommend share buttons for twitter, facebook, and maybe Google+.

[2018-04-11 05:45] dpordomingo commented on #199
Avast mine of share buttons do we want?
- at the end of every post,
- at the top,
- those ones placed on the left or right black space, that follows you as you scroll,
- those ones, pretty intrusive, that appear when you highlight something.

(Ordered from easier to more complex/intrusive)

Should we track some metrics about people using them?

@Ricardo might provide some info.

[2018-04-11 14:17] mcuadros commented on #199
/cc @src-d/product

[2018-04-12 16:31] campoy opened #201 "Make {{% code %}} work inside of {{% scroll %}}"
Requested by @vmarkovtsev on https://github.com/src-d/blog/pull/195#issuecomment-380696986

[2018-04-12 18:18] campoy commented on #201
The combination of {{ scroll-panel }} and {{% code %}} is very complicated, since we want to scroll the code, but leave the download link outside of it.

Instead I added a `height` parameter to the `code` shortcode.

[2018-04-13 08:29] dpordomingo opened #203 "Fix highlighting for code snippets"
As @alcortesm and @vmarkovtsev [spotted](https://github.com/src-d/blog/pull/200), the code highlighting is broken for (at least Go and Shell) so people are forced to use `nohighlight`. We should try to fix it for most used languages in blog.

[2018-05-04 07:31] bzz commented on #180
This seems to be fixed by https://github.com/src-d/blog/pull/191 now 🎉

[2018-05-04 07:35] bzz commented on #92
Would this discussion benefit from moving it to an issue in src-d/kallax ?

If no objections, closing this issue in blog for now but please, feel free to re-open if feel that it's more relevant to have it here.

[2018-05-04 07:35] #92 closed

[2018-05-07 18:58] campoy opened #208 "Consider adding clarification for go-license-detector"
I really good feedback on the blog post, but also some people were concerned about possible downsides of our approach.

Specifically, it's quite easy to write words in a file that even though do not correspond to any license will be identified as one.
For our case this is totally fine, but for other usages, specially when false positives are legally dangerous, this might not be acceptable.

@vmark

[2018-05-07 19:05] vmarkovtsev commented on #208
Those people did not read my post attentively. It reads:

@campoy I can make it bold or put a red frame...

[2018-05-07 19:32] #180 closed

[2018-05-07 21:37] bzz opened #209 "[PROPOSAL] Data Retrieval pipeline at source{d}"
* Title: Data Retrieval pipeline at source{d}
* Author(s): Alex, Antonio, Javi
* Short description: Highlight design, architecture and place at source{d} stack of the Git repository collection pipeline
* Categories:
* Deadlines: N/A

## Table of contents

Data collection is less sexy than Machine Learning, but that is something that source{d} invested a lot into and so has been highlighted  only i

[2018-05-08 05:04] campoy commented on #208
@vmarkovtsev, could you please tell me how they read this incorrectly?

Do you mean that it is not the case that it's easy to add words to licenses that might change the meaning (say add "not" or "never" somewhere) and the files will be misclassified?

Or do you mean that it is indeed the case, but that the blog post already specifies this clearly enough?

[2018-05-08 06:47] vmarkovtsev commented on #208
@campoy I do not understand the concerns.

Here is an example. The reference license is

Actual license:

1. It will be matched by the bag matcher.
2. It will be rejected by the Levenshtein matcher.

Actual license:

1. It will be matched by the bag matcher.
2. It will be approved by the Levenshtein matcher.
3. Users have to sell their souls now if they trust GLD.

I thought that you were talking

[2018-05-09 17:16] vmarkovtsev commented on #209
I am +100500 this. We discussed it with Egor multiple times, and it is our pink dream.

[2018-05-10 10:11] ajnavarro commented on #209
@bzz How can I help with that? maybe we can do a draft of what we want to tell on the blog post and develop from there.

[2018-05-10 16:48] #208 closed

[2018-05-13 17:27] marnovo opened #211 "Dead link to PGA in GLD post"
From: https://twitter.com/maxibanki/status/995685281591386112

(Sorry for the poor issue, doing this from mobile)

[2018-05-13 19:13] vmarkovtsev commented on #211
@marnovo Do you think it is urgent enough to merge now or can wait until tomorrow evening?

[2018-05-16 08:48] #211 closed

[2018-05-17 08:56] bzz opened #213 "[PROPOSAL] cross-post of google static analysis paper review"
Idea came up as a suggestion from @eiso and @campoy

* Title: Lessons from Building Static Analysis Tools at Google
* Author(s): Alex, anyone else
* Categories: ?
* Deadlines: N/A

## Table of contents

Original https://medium.com/@seoul_engineer/paper-review-lessons-from-building-static-analysis-tools-at-google-cc71a43bdee

Changes/suggestions/contributions are welcome and co-authorship is encour

[2018-05-17 09:02] bzz opened #214 "[PROPOSAL] paper review "Learning to Represent Programs with Graphs""
* Title: Either a "Paper review XXX", or "Machine Learning behind MSFT IntelliCode", but may be too click-batty. Suggestions are welcome.
* Author(s): Alex, anyone else?
* Short description: Graph representation of programs though the history and overview of MSR paper  and how it became Visual Studio IntelliCode feature.
* Categories:
* Deadlines: N/A

## Table of contents
Story follows along the

[2018-05-23 17:51] campoy commented on #213
Great idea!

[2018-05-23 17:57] campoy commented on #214
I just finished this paper, looking forward to reviewing your review!

[2018-06-03 16:49] ricardobaeta opened #215 "[PROPOSAL] Cheers to small beginnings!"
Issue Title: [PROPOSAL] Blog post title

* Title: Cheers to small beginnings!
* Author(s): Ricardo Baeta
* Short description: A closer look at source{d}'s rebranding.
* Categories: design, branding
* Deadlines: We need to get this blog out on Q2, ideally before the [Landing's New Visual Design](https://github.com/src-d/okrs/issues/32)

## Table of contents

### Molto vivace
The momentum around des

[2018-06-03 16:50] ricardobaeta commented on #215
I don't have permissions to:

[2018-06-12 13:10] marnovo commented on #215
@campoy please review.

[2018-06-13 20:53] campoy commented on #215
Looks good to me! Great idea

[2018-06-13 20:58] campoy opened #219 "[PROPOSAL] Babelfish turns one!"
* Title: Babelfish turns one!
* Author(s): Francesc
* Short description: One year after the first version (or first announcement) of babelfish, what's going on with the project?
* Categories: bblfsh, language analysis
* Deadlines: It'd be great to publish it either on September 19th (anniversary of v1 release) or June 20th (anniversary of first announcement)

I could use @smola or @mcuadros help w

[2018-06-13 21:59] marnovo commented on #215
Thanks! @ricardobaeta the ball is in your field, now.

[2018-06-15 15:39] vmarkovtsev opened #220 "[PROPOSAL] How I spoke on 9 conferences in 2 months"
I want to describe my experience, what I have learned, funny failures (OSCAL) and big wins (dotAI). Give tips to the beginning speakers since I used to be one a short time ago. Tell the MLonCode story, how it evolved within two years. Disclose the beautiful and ugly sides of the show business haha.

[2018-06-15 15:40] vmarkovtsev opened #221 "[PROPOSAL] Identifier splitter"
* Title: Splitting source code identifiers
* Author(s): Vadim
* Short description: This is supposed to present our [paper](https://arxiv.org/abs/1805.11651) which was accepted to ML4P.
* Categories: technical, mloncode, science
* Deadlines: no deadlines

## Table of contents

TODO

## Management

This section will be filled by @campoy.

* State: (proposed | writing | written | published)
* Schedul

[2018-06-21 15:49] vmarkovtsev opened #222 "[FEATURE] Add the date when the blog post was published"
It is what it is: add the date somewhere at the header or the footer of each post record on the main page.

[2018-06-22 16:04] vmarkovtsev commented on #220
@campoy ping

[2018-06-22 16:04] vmarkovtsev commented on #221
@campoy ping

[2018-06-22 18:20] vcoisne commented on #220
+1 @vmarkovtsev I'm sure this would be of interest to many people in the community!

[2018-06-22 18:46] vcoisne commented on #222
How do people feel about using Medium instead as our blogging platform? That would solve this issue + add many benefits ?

cc @marnovo @campoy ?

[2018-06-22 18:51] vmarkovtsev commented on #222
We used to discuss it and it boiled down to converting the existing 42 posts from Hugo Markdown + many custom shortcodes to Medium. E.g. this post is much fun to convert https://blog.sourced.tech/post/lapjv/

[2018-06-22 19:11] vcoisne commented on #222
I see how that would require some work :)

I still think it would be worth it.

[2018-07-02 16:20] campoy commented on #221
Please use [this template](https://github.com/src-d/blog/blob/master/.github/ISSUE_TEMPLATES/post.md) for the issue.
I'm not sure why it was not suggested by GitHub directly 😕

[2018-07-02 16:32] campoy commented on #220
I was gonna ask you to follow the template, but you explained quite well the contents, so I'm ok with this.

Before we continue, please provide which audience is your target and what would be their take aways.

[2018-07-02 16:49] vmarkovtsev commented on #221
Done

[2018-07-03 09:31] #222 closed

[2018-07-18 22:54] campoy commented on #221
Thanks, but the table of contents is actually quite important 😄
It doesn't need to be definitive, but it should help us structure the talk and see what content would be included.

[2018-07-18 23:10] vmarkovtsev commented on #221
Presentation: http://vmarkovtsev.github.io/ml4p-2018-oxford

[2018-07-25 11:11] bzz opened #229 "Error reporting in case of non-existent author"
**Describe the bug**

`make serve` swallows the error in case an author of blog post is not in the `authors.yml` and the blog post is silently not served.

Only running `make hugo-server` reveals the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
 1. create new blog post with a new, non-existent author
 1. `make serve`
 1. visit blog post URL

**Expected behavior**
 - error in CL

[2018-07-25 20:22] campoy commented on #221
SGTM, accepted

[2018-07-26 10:24] bzz opened #230 "shortcode request: horizontal separator"
Sometimes, it's useful to have some visual (and semantic) horizontal content separator inside the article i.e center-aligned ellipsis as Medium implement it with [Horizontal Rule](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr)

**Screenshots**

Example from Medium

---------------------

<img width="751" alt="screen shot 2018-07-26 at 12 23 29 pm" src="https://user-images.githubuser

[2018-08-14 13:43] vmarkovtsev opened #235 "[PROPOSAL] Hercules v4"
* Title: What's new in Hercules v4
* Author(s): Vadim
* Short description: The post should describe the cool features of src-d/hercules which appeared after [v1](https://blog.sourced.tech/post/hercules/)
* Categories: technical, science
* Deadlines: none

## Table of contents

Modern Hercules is able to:

1. Process the **whole** commit history DAG, not just the main sequence. It was very hard to

[2018-08-14 22:34] campoy commented on #235
Totally down for this (and thanks for using the template!)

Is v4 already released? Maybe we could sync both the release and this blog post.

[2018-08-15 06:13] vmarkovtsev commented on #235
It is silently released - I want to announce it properly.

[2018-08-15 17:28] campoy commented on #235
Sounds good, this can easily become a great talk too.

The new hercules v4 works on top of gitbase?

[2018-08-15 17:30] vmarkovtsev commented on #235
Nope, it is pure go-git. Works with `git.Repository` wherever it comes from.

[2018-08-15 21:02] eiso commented on #235
We discussed about exposing Hercules analysis through UDFs in gitbase

[2018-08-20 13:57] r0mainK opened #237 "[PROPOSAL] PGA deduplication"
# PGA deduplication

* Title: PGA deduplication, or Apollo on PGA
* Author(s): Romain
* Short description: Running **apollo** on PGA
* Categories: Big Code, ML, Dataset
* Deadlines: Will be writing the post the next 2 weeks. Datasets will be in PR until release of the post in src-d/models.

## Table of contents

- How (50 %)

Explain how we ran apollo on PGA, detail the _numerous_ problems that we

[2018-08-21 21:21] m09 opened #238 "[PROPOSAL] Paper review: “A Fast Unified Model for Parsing and Sentence Understanding”"
* Title: A Fast Unified Model for Parsing and Sentence Understanding
* Author(s): Hugo and anyone interested
* Short description: This blog post will be about neural architectures that are especially well suited to handle UASTs. It will outline how hard it is for an architecture to actually be efficient to model tree structures and will show how this one provides a very interesting angle to model

[2018-08-24 22:02] vmarkovtsev opened #240 "Add CORS policy to staging"
There is no `Access-Control-Allow-Origin` header in the staging server response. If this is a bug and not a feature then it would be cool to add the `*` policy.

How about blog.sourced.tech btw?

[2018-08-28 08:13] bzz opened #241 "[PROPOSAL] Source code match/traverse/transform APIs"
Idea comes from https://github.com/src-d/blog/pull/233#discussion_r209758185

* Title: Source code match/traverse/transform APIs
* Author(s): Alex, ?
* Short description: An overview of existing approaches to match/traverse/transform source code
* Categories: language analysis
* Deadlines: no

## Table of contents
Very rough grounds that would be covered
- ClangMR/JavacFlume
- error-prone/ev
- gof

[2018-09-06 14:29] dpordomingo commented on #230
Easy to develop.
Does @marnovo approve it?

[2018-09-06 14:33] dpordomingo commented on #240
How did you discover that? Would you like to access blog content (or JSON feeds) via AJAX?

[2018-09-06 15:16] vmarkovtsev commented on #240
@dpordomingo I want to use [Tensorflow Projector](http://projector.tensorflow.org/) which loads a JSON config and the data files by HTTP.

[2018-09-06 15:17] vmarkovtsev commented on #240
An alternative is to host our own projector on blog.sourced.tech.

[2018-09-06 17:58] dpordomingo commented on #240
this might help you
https://github.com/src-d/blog/pull/243

[2018-09-06 19:38] vcoisne commented on #230
my 2cents is that we should not be developing our own blog platform. I created an issue  [https://github.com/src-d/devrel/issues/83](url) to discuss migrating over to Ghost.

[2018-09-07 09:54] #240 closed

[2018-09-07 10:07] dpordomingo commented on #240
@vmarkovtsev It was deployed into Production within the new release [v1.17.1](https://github.com/src-d/blog/releases/tag/v1.17.1)
Feel free to reopen this issue if you suffer from cors again while fetching blog from Tensorflow Project

[2018-09-10 15:17] #235 closed

[2018-09-27 15:46] #213 closed

[2018-10-03 17:03] vcoisne opened #249 "[PROPOSAL] How to build your own Lookout Analyzers"
* Title: How to build your own Lookout Analyzers
* Author(s): Victor & others
* Short description: Lookout Intro, analyzers intro and How to create your own Lookout Analyzer
* Categories: Lookout
* Deadlines: ASAP but not urgent

## Table of contents

1. What's Lookout
2. What are the existing analyzers
3. How to build your own

## Management

This section will be filled by @campoy.

* State: (pro

[2018-10-09 17:59] #214 closed

[2018-10-09 18:00] vmarkovtsev commented on #237
This is actually done: https://github.com/src-d/blog/pull/242

[2018-10-09 18:00] #237 closed

[2018-10-12 00:04] campoy commented on #241
Hey Alex, maybe I'm lacking knowledge here but the title doesn't mean anything to me.
Could you make it more beginner friendly?

[2018-10-12 00:06] campoy commented on #238
This sounds super interesting (sorry for the delay approving)

[2018-10-19 15:06] smola commented on #219
Once all drivers and clients are updated to the very latest protocol and UAST version, it would be a good time to make some noise again.

[2018-10-22 17:59] campoy commented on #219
Do you know when that would be?

[2018-10-23 15:03] smola commented on #219
@campoy _Hopefully_ within this quarter.

[2018-10-24 13:54] vmarkovtsev opened #256 "Advanced Scientific Data Format"
* Title: Advanced Scientific Data Format
* Author(s): Vadim
* Short description: Overview of the ASDF: cool features, usage patterns, ASDF at source{d} (Modelforge).
* Categories: technical
* Deadlines: No

Suggested in https://github.com/spacetelescope/asdf/pull/573

## Table of contents

- Overview of ASDF: history, background, architecture, features
- Code example: load a huge ML model
- Code e

[2018-10-24 16:07] bzz commented on #241
Thank you for feedback,  Francesc! It's totally WIP as I'm just gaining confidence in existing tools in this field.

The plan is basically to cover some "state of the art" tools for AST transformation (AKA refactoring), so the learnings could be applied to Bblfsh UAST manipulation API.

How about the title along the lines of "Source code transformations"?

OSS:
 - Golang: go fix/go fmt -r
 - Cpp:

[2018-10-24 17:42] bzz commented on #238
🎉 @m09 please let me known if any help will be need at proof-reading the draft, etc.

Very excited for keep "paper review" post series going!

[2018-10-24 19:37] bzz commented on #249
@vcoisne looks great, please let me know if you need any help with this one - I have created few analyzers in Python and Go before 😆

[2018-10-24 20:41] campoy commented on #219
Ok, let's leave this waiting for now then and review in a month.

reminder: 2018-11-24

[2018-10-26 23:21] mcuadros opened #260 "Lincense change"
Base on our guide the MIT license is not one option so should be changed:
https://github.com/src-d/guide/blob/master/engineering/licensing.md

[2018-10-31 18:56] campoy commented on #260
I propose using Creative Commons BY-SA 4.0, since the licensing guidelines actually say that's the license of the blog.

[2018-11-01 02:44] dpordomingo commented on #260
I think it should be a mixed license: CC for editorial content, and a proper license for the software itself like GPL

[2018-11-01 12:33] dpordomingo commented on #260
**CC BY-SA 4** and **GPL v3** are [one-way compatible](https://creativecommons.org/share-your-work/licensing-considerations/compatible-licenses/), but I'm not sure if that help us.

I wonder if adding an extra CC-BY-SA LICENSE file inside [blog/content](https://github.com/src-d/blog/tree/master/content) would be enough to keep that part as CC, and the rest of the repo as GPL v3

[2018-11-01 16:47] campoy commented on #260
Could you send a PR for this? I could do that too later, but I need to prepare a meetup today

[2018-11-01 19:36] dpordomingo commented on #260
done by https://github.com/src-d/blog/pull/264

[2018-11-06 23:00] #260 closed

[2018-11-09 00:19] #221 closed

[2018-11-12 19:19] bzz commented on #241
@campoy One story I can think of is:

take simple-but-educational example(s) of some issue in the code as a motivation, and then go though implementing:
 - a code to detect it
 - a code to suggest a fix for it
in each of those systems.

Due to differences in host languages it could be hard to pick a single example, so it can be adjusted a bit for each specific language, keeping it sufficiently hig

[2018-11-12 19:20] bzz commented on #249
@campoy

Right now the closest approximation is https://github.com/src-d/lookout/tree/master/sdk#developing-an-analyzer

[2018-11-14 00:58] campoy commented on #241
I like it, even if we find an example that only works for a specific language it should be easy to get people from other language communities understand the point of the article.

[2018-11-14 12:59] m09 opened #268 "[PROPOSAL] Formatting. With style."
* Title: Formatting. With style.
* Author(s): Hugo and interested members of the ML team
* Short description: Describe the current style analyzer and the future plans for a deep learning version of this same analyzer.
* Categories: deep learning, unsupervised learning, meta learning, machine learning on code, machine learning, source code formatting, lookout
* Deadlines: no deadline

## Table of c

[2018-11-14 20:15] campoy commented on #268
This sounds amazing! Looking forward to reading the first draft 😄

[2018-11-29 18:06] kuba-- commented on #241
Refactoring prolog code: https://pdfs.semanticscholar.org/b48b/bc30427ef7429db83e190f91a579442121b6.pdf

[2018-11-30 22:43] vcoisne commented on #268
@m09 Did you get a chance to start a draft ?

[2018-11-30 22:44] vcoisne commented on #241
@bzz did you get a chance to start a draft ?

[2018-11-30 22:44] vcoisne commented on #238
@m09 Did you get a chance to start a draft ?

[2018-11-30 22:45] vcoisne commented on #209
@bzz  Did you get a chance to start a draft ?

[2018-12-03 19:10] bzz commented on #241
Very preliminary - this is fairly ambitious and requires a lot of research. I would expect a shareble draft early next year.

[2018-12-07 18:15] campoy commented on #268
Hey, @m09 we would love to publish this ASAP to use the momentum from the release.

When do you think you'd have time to work on this?

[2018-12-07 18:17] campoy commented on #219
Hey @smola,  we would love to release this eventually.

Do you think someone from the @src-d/language-analysis might be able to take some time for this?

[2018-12-07 18:18] vcoisne commented on #215
Published

[2018-12-07 18:18] #215 closed

[2018-12-07 18:21] vmarkovtsev commented on #219
How about waiting 2 more months and writing "Babelfish turns two"? As far as I remember the work began in early February...

[2018-12-07 18:55] creachadair commented on #219
Well, I can't speak for @smola but it certainly seems like a good idea.

[2018-12-10 22:30] vcoisne opened #272 "[PROPOSAL] Paper review: code2vec"
* Title: Code2Vec: learning distributed representations of code
* Author(s): TBD
* Short description: Paper review of [learning distributed representations of code](https://arxiv.org/pdf/1803.09473)
* Author(s): TBD
* Categories: Machine Learning
* Deadlines: No

## Management

This section will be filled by @campoy.

* State: (proposed | writing | written | published)
* Scheduled:
* Link to post:

[2018-12-11 09:44] smola commented on #219
@creachadair Sure, it's not your business :wink:

[2018-12-11 13:40] bzz commented on #272
JFYI as we know from https://github.com/src-d/reading-club#past-papers - `code2seq` is a followup paper from the same authors with improved architecture and better results.

[2018-12-11 16:03] creachadair commented on #219
Me and my big mouth. ;)

Seriously, though, I'm happy to help out with this.

[2018-12-14 14:38] m09 commented on #238
sadly reported to january since we were still swamped by format analyzer those last 2 weeks

[2019-01-18 18:49] vcoisne commented on #272
@bzz should it be a code2seq paper review then? Do you or someone on your team has bandwidth to write it ?

[2019-01-18 18:59] vcoisne commented on #241
@bzz Trying to plan our blog schedule for the upcoming weeks. Did you get a chance to work on this draft ?

[2019-01-18 19:00] vcoisne commented on #238
@m09 Any updates on this draft ? Trying to plan our blog schedule for the upcoming weeks.

[2019-01-18 19:00] vcoisne commented on #220
@vmarkovtsev is that still something you want to write about ?

[2019-01-18 19:52] vcoisne commented on #219
@creachadair it would be awesome if you could help with this. I know @campoy is swamped.

We want to make sure we position babelfish in the post has a core component of the Engine though.

[2019-01-18 20:10] vmarkovtsev commented on #220
Definitely, its on my list and I've been thinking much about it. Once I pass through this MSR-PlC-Fosdem grind I will write it.

[2019-01-18 20:39] creachadair commented on #219
Sounds good. What are we using as the actual date? I see @vmarkovtsev suggests early February, but the issue was filed in June.

[2019-01-24 09:37] bzz commented on #272
I would be happy to take a stab as this next week, before/after FOSDEM as it is a fairly low-hanging fruit (comparing e.g \w refactoring one) and if @creachadair agrees.

Writeup like that usually takes about 2 days of work.

[2019-01-29 08:04] bzz commented on #272
JFYI It's a really good time to do that right now, as https://code2seq.org/ was just released on top of already existing https://code2vec.org/

[2019-01-29 15:49] vcoisne commented on #272
@bzz awesome, so the plan is to publish the week after Fosdem?

[2019-01-29 17:10] bzz commented on #272
would be happy to start putting together a draft, but as mentioned in https://github.com/src-d/blog/issues/272#issuecomment-457130117 - only after @creachadair  👍

[2019-01-29 17:31] creachadair commented on #272
This sounds like a good idea to me. I do want to make sure we can still make timely progress on C# until that's stable, but otherwise I have no concerns.

[2019-02-18 18:18] bzz commented on #272
I have started the draft last week and I would say it's half-ready.
Will try to find time, finish and share it for early review later this week.

@vcoisne do you want it on medium or a company blog?

[2019-02-21 05:01] vcoisne commented on #268
This has been published per https://github.com/src-d/blog/pull/273

[2019-02-21 05:01] #268 closed

[2019-02-21 05:03] vcoisne commented on #272
@bzz company blog + medium as a syndication platform :) Hopefully the migration to Ghost will be completed by then cc @marnovo

[2019-02-21 05:06] vcoisne commented on #249
@campoy I have added a draft to ghost for review

[2019-02-21 05:08] vcoisne commented on #238
ping @m09

[2019-02-21 05:09] vcoisne commented on #230
@marnovo can we close all the issue that are feature requests related to the legacy Hugo blogging platform?

[2019-02-21 05:13] vcoisne commented on #219
@creachadair looking at the bblfh repo looks like first release was in June 2017 so I suggest we aim for June 2019 and do Babelfish turns 2 :) cc @campoy

[2019-02-21 05:14] vcoisne commented on #209
@bzz this would be a great topic for an online meetup. Would you be willing to cover that topic together with @ajnavarro? Once we have the video & slides it will be easier to write a blog post on the topic. Thoughts?

[2019-02-21 05:16] vcoisne commented on #175
Love this idea any interest @creachadair @Jan21 @aliciakozlowski @m09 ?

[2019-02-21 06:30] creachadair commented on #219
Sounds good to me. Feel free to assign it to me, since I don't appear to have the permissions to do so.

[2019-02-21 08:26] dpordomingo commented on #249
@vcoisne is that draft accessible for review?

[2019-02-21 09:25] m09 commented on #238
I'll write a draft next OSD :)

[2019-02-21 11:19] ajnavarro commented on #209
Right now the Data retrieval team is managed by @jfontan . I don't feel comfortable giving a talk, but I can help with any slides or videos that can be required.

[2019-02-21 11:21] #230 closed

[2019-02-21 11:25] dpordomingo commented on #229
The migration to the new blogging platform is almost completed, so we're closing this issue because it won't happen in the new environment :dancer:

[2019-02-21 11:25] #229 closed

[2019-02-21 11:26] dpordomingo commented on #203
The migration to the new blogging platform is almost completed, so we're closing this issue because it won't happen in the new environment :tada:

[2019-02-21 11:26] #203 closed

[2019-02-21 11:28] dpordomingo commented on #199
The migration to the new blogging platform is almost completed, so we're closing this issue because it won't happen in the new environment :100:

[2019-02-21 11:28] dpordomingo commented on #196
The migration to the new blogging platform is almost completed, so we're closing this issue because it won't happen in the new environment :partly_sunny:

[2019-02-21 11:28] #196 closed

[2019-02-21 11:30] dpordomingo commented on #230
The migration to the new blogging platform is almost completed, so we're closing this issue because it will be most likely provided by Ghost :dancer:

[2019-02-21 11:33] dpordomingo commented on #199
reopening because I could not find the `share` button in new blog

[2019-02-21 14:51] dpordomingo commented on #181
The migration to the new blogging platform is almost completed, so we're closing this issue because it shouldn't happen in the new environment :fire:

[2019-02-21 14:51] #181 closed

[2019-02-21 14:52] dpordomingo commented on #179
The migration to the new blogging platform is almost completed, so we're closing this issue because I think it will be provided by Ghost :nail_care:

[2019-02-21 14:52] #179 closed

[2019-02-21 14:53] dpordomingo commented on #173
The migration to the new blogging platform is almost completed, so we're closing this issue because it won't be neede in the new environment :bomb:

[2019-02-21 14:53] #173 closed

[2019-02-21 14:55] dpordomingo commented on #170
The migration to the new blogging platform is almost completed, so we're closing this issue because I think it will be provided by Ghost :crossed_fingers:

[2019-02-21 14:55] #170 closed

[2019-02-21 14:57] dpordomingo commented on #168
The migration to the new blogging platform is almost completed, so we're closing this issue because we are dropping this feature :desert_island:

[2019-02-21 14:57] #168 closed

[2019-02-21 14:58] dpordomingo commented on #150
The migration to the new blogging platform is almost completed, so we're closing this issue because it is no longer needed :sunglasses:

[2019-02-21 14:58] #150 closed

[2019-02-21 14:58] dpordomingo commented on #147
The migration to the new blogging platform is almost completed, so we're closing this issue because I think it will be provided by Ghost :neckbeard:

[2019-02-21 14:58] #147 closed

[2019-02-21 14:59] dpordomingo commented on #141
The migration to the new blogging platform is almost completed, so we're closing this issue because I think it will be considered during the migration :massage_woman:

[2019-02-21 14:59] #141 closed

[2019-02-21 17:13] creachadair commented on #175
I'd be willing to write something like this, though I'm not sure my perspective would be interesting to anyone outside the company.

[2019-02-22 12:38] bzz commented on #272
Asking, as so far I only posted to one OR another - formatting is different and takes a lot of time for me for each of those.

So, please let me know if that is not the case, but so far I'm planing to:
 - finish initial draft in Gdoc
 - submitting a PR to https://github.com/src-d/blog

[2019-02-22 12:45] bzz commented on #209
Do not feel comfortable giving a talk since it's been a while since I worked on this part, but if @creachadair does not object I could actually try to kick preliminary blog post draft off next week if @jfontan would be interested in such help.

[2019-02-22 19:42] vcoisne commented on #272
@bzz we can do the formatting for you. No need to submit a PR to https://github.com/src-d/blog, just share with me the gdoc and we'll take it from there!

[2019-02-22 19:44] vcoisne commented on #209
@bzz sounds good - @jfontan want to lead an online meetup on this topic ?

[2019-02-25 07:59] meyskens commented on #175
Happy to write something (small), however would love some feedback as I'm not a professional blog writer.

[2019-02-25 08:38] jfontan commented on #209
@bzz, @ajnavarro thanks for your help offers. @vcoisne What does it mean to lead an online meetup? Preparing a presentation with the contents proposed by @bzz?

[2019-02-25 12:02] vmarkovtsev opened #279 "[PROPOSAL] How closed are experienced developers?"
* Title: How closed are experienced developers?
* Author(s): Vadim
* Short description: TODO
* Categories:
* Deadlines: no

The idea is to study the ratio between PRs to external projects and PRs to owned projects for different developer groups. I have a theory that the more experienced (hence older) you become, the more you tend to contribute to projects in which you feel comfortable: you are a m

[2019-02-25 18:53] vcoisne commented on #209
@jfontan yes preparing a presentation with the content from the blog post in collaboration with @bzz and @ajnavarro

[2019-02-26 19:05] Jan21 commented on #175
I could also write something at the end of my internship.

[2019-02-26 20:29] vcoisne commented on #175
I think that would be great @creachadair @meyskens and @Jan21. Keep it short and sweet, no need to write more than 500 words

[2019-02-26 23:08] m09 commented on #175
Same for me I'm up for writing a short text.

[2019-02-27 16:17] bzz commented on #230
does anyone have any idea how likely this feature is going to be provided? :)

[2019-02-27 17:16] vcoisne commented on #230
It is an existing feature in Ghost @bzz

[2019-02-28 12:30] bzz commented on #209
Only while preparing initial draft I just realized none of this is part of the Engine yet - https://github.com/src-d/engine/issues/52 It would be so cool though if in call for action part we could just point to Engine as an easy solution to try all this goodness out.

[2019-02-28 14:53] jfontan commented on #209
First a public thanks to @bzz for the effort of kicking off with the draft. I'll take a look and aim to push forward on Monday during the OSD.

[2019-02-28 18:39] vcoisne commented on #209
Thanks @jfontan

@bzz Rover and Borges are not part of the Engine yet?

[2019-02-28 18:48] jfontan commented on #209
@vcoisne, nope, Rovers and Borges are not part of the Engine. Moreover we are going to do a rewrite of Borges so I don't thing it's going to be part of Engine soon.

[2019-03-04 19:24] jfontan commented on #209
I've added technical details and a couple of diagrams. Can you take a look and tell me where more information is needed? I believe that the premises and requirements changed quite a lot since the project was started. What I've written describes what's the current status.

[2019-03-04 19:48] vcoisne commented on #209
@jfontan @bzz great to see the draft.

FYI we have an updated [blog process](https://docs.google.com/document/d/1BxhHlkxytm-xCDVy4vRkdyjqwe9w7pIWoauaLpMMreE/edit#)

I have added the header to the gdoc. @bzz can you move it to the blog post folder under DevRel in the team drive ?

@jfontan did you get a chance to think about wether or not you'd like to give a talk about this topic as an online meet

[2019-03-04 19:53] jfontan commented on #209
I would make a meetup but not in the immediate future. Let's create the blog post and the think about the meetup afterwards. Preparing / giving presentations is quite draining for me and I still remember GitMerge.

[2019-03-05 19:38] vcoisne commented on #209
understood. Thanks @jfontan

[2019-03-06 10:00] bzz commented on #209
Done, the [draft](https://docs.google.com/document/d/1N9Tu1OaREotYfMZQDgP4lOeZsyyzFJEhoMpc3Hg9YEE/edit) is now is in [DevRel/Blog posts](https://drive.google.com/drive/folders/1PGIqQ284kAXWgY50Nco9lRF6VIYGyxKg)

[2019-03-06 10:23] bzz commented on #209
Although I understand the temptation to either make it shorter or break down to multiple pieces for the purpose of being more easily consumable, I would advice agains this.

My reasons: this is an architectural blog post for the tech-savy engineering audience and the big picture + all the necessary details in single place are exactly the "bread and butter" of it and is the main appeal for people l

[2019-03-06 11:52] bzz commented on #272
Initial [blog post draft](https://docs.google.com/document/d/1ymbCJiGCkAHu6XfUl2QO_rKfZl9UYUFbVGjW00ZW1Ao/edit#heading=h.lrwhoffa0oc6) moved to DevRel/Blog on Team's GDrive.

It's still WIP but I hope to have some spare cycles next week to finish it!

[2019-03-07 00:36] vcoisne opened #281 "New blog design update"
**Describe the bug**

- Remove sourced.tech website + sourced.tech archive - https://sourced.ghost.io/

<img width="478" alt="screen shot 2019-03-06 at 4 29 04 pm" src="https://user-images.githubusercontent.com/5384543/53923387-05693e00-402d-11e9-857c-25f3638b5992.png">

- Remove tagline: "Machine Learning for Large Scale Code Analysis" under blog

- Add a 6 blog posts on the blog landing page (at

[2019-03-07 06:02] vcoisne commented on #281
moved to feature-idea repo.

[2019-03-07 06:02] #281 closed

[2019-03-15 16:50] vcoisne commented on #272
@bzz thanks! Did you get a chance to work on it some more ? should we review it ?

[2019-03-15 17:03] vcoisne commented on #249
Published https://blog.sourced.tech/post/what-are-source-d-lookout-analyzers-and-how-to-create-one/

[2019-03-15 17:03] #249 closed

[2019-03-15 17:05] vcoisne commented on #238
@m09 Is that on your radar for next OSD on monday ?

[2019-03-15 17:22] vcoisne commented on #209
@bzz I'm ok with that. Another option would be turn into a white paper. Just sent you some DM on slack.

[2019-03-19 09:57] bzz commented on #272
Sorry for delay - this is the first time that I want to also include a notebook with the official code to reproduce the whole model right in the text of the blog post (in the spirit of the web-first, participatory science) and I've been spending all my cycles to get the Notebook running, which is now [in reasonable state](https://colab.research.google.com/drive/1dBuwvONmvUM5LZ3jRmAJ2OvWt8ov9jV_) t

[2019-03-20 15:01] vmarkovtsev opened #282 "What's wrong with the new blog"
This is the list of things I wish to be fixed in the new blog.sourced.tech:

- [x] all MSR interview header images show cut people. No eyes, no elbow, but nose and mouth in between 😄
Example:

![Screenshot 2019-03-20 at 15 33 31](https://user-images.githubusercontent.com/2793551/54692657-a2e06980-4b25-11e9-9341-a94b9a1af5f0.png)

* https://blog.sourced.tech/post/msr-interview-5-jurgen-cito-and-ger

[2019-03-20 15:05] ricardobaeta commented on #282
Hi @vmarkovtsev a couple of enhancements are already up to under-review [here](https://github.com/src-d/feature-idea/issues/127), as well.

[2019-03-22 10:37] vmarkovtsev opened #284 "Links from the blog archive lead to the new blog"
Posts from the blog archive link to the new blog.

[2019-03-22 15:07] dpordomingo commented on #284
should be fixed by https://github.com/src-d/blog/pull/285
But I a review before merging and deploying it...

[2019-03-25 20:01] #284 closed

[2019-03-25 20:06] dpordomingo commented on #284
@vmarkovtsev the issue with archived blog pointing to new one was already fixed, and not it points to archived posts ;)
https://blog-archive.sourced.tech/

[2019-03-27 11:32] dpordomingo commented on #199
already there

[2019-03-27 11:32] #199 closed

[2019-04-03 11:24] bzz commented on #272
At last! Had some time this week to work on this and feel that it's _almost_ ready 🎉🎉🎉
The latest draft in [this doc](https://docs.google.com/document/d/1ymbCJiGCkAHu6XfUl2QO_rKfZl9UYUFbVGjW00ZW1Ao/edit#).

Mad props to @m09 @creachadair and @Jan21 for proof-reading, copy-editing and otherwise improving it - please let me know if any of you guys would be open to co-author it on company's blog this

[2019-04-08 18:39] vcoisne commented on #282
Thanks a lot for your feedback @vmarkovtsev. @ricardobaeta and I have been working on solving these issues. Please find below my comments about the ones that are pending.

Sorry about that. I believe this was done to better fit the dimension of the featured image. Please let us know which one you'd like to update back to original header images.

That's a default setting of Ghost and most blogging

[2019-04-09 09:01] m09 opened #286 "ASDF post has test video in its body"
**Describe the bug**

Video introduction to the engine is in the middle of the ASDF post

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://blog.sourced.tech/post/asdf/
2. Scroll down to about 3/4 of the post

[2019-04-12 17:23] vmarkovtsev opened #287 "dataproc_jupyter post was not ported"
There is no https://blog.sourced.tech/post/dataproc_jupyter

Link to the old post: https://blog-archive.sourced.tech/post/dataproc_jupyter/

[2019-04-12 17:24] vmarkovtsev commented on #287
cc @vcoisne

I checked with Ghost API, there is no such post.

[2019-04-12 17:32] vmarkovtsev opened #288 "hercules.v4 was ported as hercules-v4"
I found that there is one URL which does not map to the old id: hercules.v4 was mapped to hercules-v4.

[2019-04-12 17:32] vmarkovtsev commented on #288
Fixed this myself.

cc @vcoisne

[2019-04-12 17:32] #288 closed

[2019-04-12 17:36] vmarkovtsev commented on #288
Actually, it is impossible to have a dot in the slug. So even if I update, I still get a dash.

I had to change all the pointing links in the READMEs, presentations, etc.

[2019-04-13 11:15] vcoisne commented on #288
Thanks a lot @vmarkovtsev, really appreciate your help!

[2019-04-18 22:01] vcoisne commented on #287
Nice catch, just migrated it.

[2019-04-18 22:01] #287 closed

[2019-04-18 22:04] vcoisne commented on #286
Nice catch, I have no idea how that happened. Fixed.

[2019-04-18 22:04] #286 closed

[2019-04-18 22:05] vcoisne commented on #219
@creachadair let me know if that's still something you're interested in writing about ?

[2019-04-18 22:09] vcoisne commented on #209
@bzz @jfontan @ajnavarro is this ready for publication? Looks like there are a few open comments on the gdoc?

As discussed previously I would love to schedule a webinar on this topic. Please let me know you're up for it ?

[2019-04-18 23:10] creachadair commented on #219
Sure, I'm game. We should update the title from "one" to "two", or maybe I will just start a new issue and close this one in favour of it (since I still can't edit this one).

[2019-05-03 15:48] bzz commented on #209
I did a pass over the draft and think it's almost ready  🎉 Will make a final push first thing on Monday.

@jfontan there are few un-answered [comments](https://docs.google.com/document/d/1N9Tu1OaREotYfMZQDgP4lOeZsyyzFJEhoMpc3Hg9YEE/edit?disco=AAAACuDJKP4) in the text - could you also please take a look?

I

[2019-05-11 10:50] vmarkovtsev commented on #282
Addition: about 30% of the ported posts have an invalid date. Some have a wrong year, and some have a wrong month.

I am fixing everything myself since Victor gave me Admin permissions.

[2019-05-13 14:05] vmarkovtsev commented on #282
Status:

- Fixed descriptions using API
- Fixed authors using API and a manual pass over the teams
- Fixed the front images
- Fixed the dates
- I know how to fix code blocks, need to change the theme CSS

[2019-05-13 14:09] vmarkovtsev commented on #282
The tables were added using `<center>`, which is not included into HTML5. It works by a chance.
The CSS will have to be changed to properly center and resize.

[2019-05-17 08:11] vmarkovtsev opened #291 "[PROPOSAL] New source{d} datasets"
* Title: Our new datasets
* Author(s): Vadim
* Short description: What is the topic? Any main takeaways?
* Categories:
* Deadlines: are there any deadlines for this? do we need to wait for any other event?

## Table of contents

What are the main sections of the blog post? What will each one explain?

## Management

This section will be filled by @campoy.

* State: (proposed | writing | written |

[2019-05-21 16:57] vmarkovtsev commented on #220
Done: https://blog.sourced.tech/post/how-it-conferences-can-be-better-for-speakers/
The concept has evolved a bit.

[2019-05-21 16:57] #220 closed

[2019-05-29 12:23] bzz commented on #209
The blog post is out https://blog.sourced.tech/post/data-retrieval-pipeline-at-source-d/ - 🙇 @jfontan @vcoisne and everyone who helped to make this happen!

[2019-05-29 12:23] #209 closed

[2019-06-11 22:08] creachadair commented on #219
Since time's closing in, I'll put together an outline this week.

[2019-06-25 21:56] vcoisne opened #292 "Update blog header and footer"
We need to update the header and footer of blog.sourced.tech based on https://github.com/src-d/landing/pull/405

[2019-06-26 08:38] znegrin commented on #292
I guess that we should wait until the new landing is online to do this, or the links will be broken.

[2019-06-26 17:28] vcoisne commented on #292
correct @znegrin

[2019-06-27 19:10] znegrin commented on #292
The blog is now updated with the new header and footer:

![image](https://user-images.githubusercontent.com/14981468/60293656-f3831200-991f-11e9-9311-8af380051269.png)

[2019-07-10 16:58] vmarkovtsev commented on #219
Hehe :) Babelfish turns three?

[2019-07-10 17:00] creachadair commented on #219
I didn't finish this, but I don't think we have to wait a whole year. Maybe just "Babelfish in review".

[2019-07-10 17:01] vmarkovtsev opened #293 "[PROPOSAL] style-analyzer paper"
* Title: TBD, short paper review: STYLE-ANALYZER: fixing code style inconsistencies with interpretable unsupervised algorithms
* Author(s): Vadim, ?
* Short description: https://arxiv.org/abs/1904.00935
* Categories: mloncode
* Deadlines: ?

## Table of contents

TODO

## Management

This section will be filled by ~@campoy~.

* State: (proposed | writing | written | published)
* Scheduled:
* Link

[2019-07-10 17:03] vmarkovtsev opened #294 "[PROPOSAL] gitlab paper"
* Title: TBD, short paper review: Identifying collaborators in large codebases
* Author(s): Vadim, ?
* Short description: https://arxiv.org/abs/1905.06782
* Categories:
* Deadlines: ?

## Table of contents

TODO

## Management

This section will be filled by ~@campoy~.

* State: (proposed | writing | written | published)
* Scheduled:
* Link to post:

## Social Media

* Wording for tweet:
* Hashtag

[2019-07-10 17:04] vmarkovtsev commented on #291
@vcoisne This can be turned into a series of small blog posts about each dataset.

[2019-07-10 20:16] campoy commented on #294
Feel free to remove my name from the template, so I don't get notified every time :)

[2019-07-11 13:34] vcoisne commented on #291
Great idea @vmarkovtsev !

[2019-07-11 13:34] vcoisne commented on #219
That's a good idea @creachadair when do you think you'll have time to write something up ?

[2019-07-12 12:10] bzz commented on #282
@vcoisne @vmarkovtsev not sure if that is the right place to rerport or what is the process with the new blog.

But I noticed that the footer in the [recent posts](https://blog.sourced.tech/post/announcing-source-d-enterprise-edition-a-scalable-secure-and-extensible-data-platform-for-enterprises/) seems to be in the need of updating:

[code]

[2019-07-12 13:30] dpordomingo commented on #282
I think it's because the signature of "product team" is defined that way, so it appears like that in [all posts written by Product](https://blog.sourced.tech/author/product/)

[2019-07-15 07:22] vcoisne commented on #282
Updated. @vmarkovtsev did you get a chance to update the code blocks ? If not we can ask Zuri to help.

[2019-07-18 14:35] m09 opened #295 "[PROPOSAL] MSR Paper Review: Import2vec - Learning Embeddings for Software Libraries"
* Title: MSR Paper Review: Import2vec - Learning Embeddings for Software Libraries
* Author(s): @m09
* Short description: cf title
* Categories: Paper review, technical, MSR 2019, MLonCode
* Deadlines: Publication on 2019/07/23
* Link to draft in google doc: https://docs.google.com/document/d/1iUr6NAiPw7bcKI3e_fd5M2Ikn6PCpLzBhm_RTJma7so/edit

## Management

This section will be filled by @vcoisne

[2019-07-18 14:58] vcoisne commented on #294
Here is the [draft](https://docs.google.com/document/d/1NHUqpm6bdxHdJFg4zMMG7QcLItC1Mi94jI8NRyoDUyg/edit?ts=5d2e36c9)

Please review @vmarkovtsev @warenlg @m09 and others

[2019-07-19 10:30] vcoisne opened #296 "[PROPOSAL] MSR Interview #7"
* Title: Massimiliano Di Penta interview from MSR 2018
* Author(s): Massimiliano Di Penta
* Short description: MSR, MLonCode
* Categories: Research Paper
* Deadlines: No
* Link to draft in google doc: https://docs.google.com/document/d/1_dhh7w7wMgVcmltbx_0cVwR5zxiuEczd47cvo8ZNudI/edit#heading=h.u4f2hfj9hdkd

[2019-07-19 11:40] m09 commented on #295
Ready for review

[2019-07-19 11:56] vcoisne commented on #272
Per our conversation @bzz let's set the deadline to 7/29

Thanks

[2019-07-19 13:12] vcoisne commented on #279
@vmarkovtsev Sorry about not reviewing this earlier. I believe we already have quite a few blog post / topics in the works that IMO should take precedent over this one.

[2019-07-19 13:25] vcoisne commented on #295
Reviewed nice work @m09. cc @vmarkovtsev for review. The plan is to publish this next Tuesday.

[2019-07-19 13:25] vcoisne commented on #292
Thank you @znegrin closing.

[2019-07-19 13:25] #292 closed

[2019-07-19 13:31] vcoisne opened #297 "[PROPOSAL] Machine Learning on Code at source{d}"
* Title: Machine Learning on Code at source{d}
* Author(s): ML team
* Short description: How do we use ML at source{d}, including a brief introduction to the different ML areas of interest
* Categories: MLonCode, Engineering Observavility
* Deadlines: NA
* Link to draft in google doc: https://docs.google.com/document/d/1_8059zMI-uVZ6irw3a4uT0TElksYlP8URNfa4cD_uMc/edit#heading=h.6jd99lm9uc58
* revi

[2019-07-23 16:08] m09 commented on #295
Thanks @vmarkovtsev for the review :pray:

[2019-07-23 21:11] bzz commented on #295
Seems to address part of the https://github.com/src-d/ml-backlog/issues/55

[2019-07-24 11:20] vcoisne commented on #294
Published. https://blog.sourced.tech/post/identifying-collaboration-in-large-codebases/

[2019-07-24 11:20] #294 closed

[2019-07-24 13:32] m09 opened #299 "[PROPOSAL] MSR Paper Review: SOTorrent: Studying the Origin, Evolution, and Usage of Stack Overflow Code Snippets"
* Author(s): TBD, cf https://github.com/src-d/ml-backlog/issues/55
* Short description: Scientific paper summary/review
* Categories: Paper review, technical, MSR 2019, MLonCode
* Deadlines: TBD
* Link to draft in google doc:

[2019-07-24 13:33] m09 opened #300 "MSR Paper Review: The Promises and Perils of Mining GitHub"
* Author(s): TBD, cf https://github.com/src-d/ml-backlog/issues/55
* Short description: Scientific paper summary/review
* Categories: Paper review, technical, MSR 2019, MLonCode
* Deadlines: TBD
* Link to draft in google doc:

[2019-07-24 13:35] m09 opened #301 "[PROPOSAL] MSR Paper Review: The Software Heritage Graph Dataset: public software development under one roof"
* Author(s): @vmarkovtsev, cf https://github.com/src-d/ml-backlog/issues/55
* Short description: Scientific paper summary/review
* Categories: Paper review, technical, MSR 2019, MLonCode
* Deadlines: TBD
* Link to draft in google doc: https://docs.google.com/document/d/1k6OUhIS-9_PL1FB9M8r_y6F_V9SPADbSFf6mIilSkNY

[2019-07-24 13:36] m09 opened #302 "[PROPOSAL] MSR Paper Review: Software Engineering for Machine Learning: a case study"
* Author(s): TBD, cf https://github.com/src-d/ml-backlog/issues/55
* Short description: Scientific paper summary/review
* Categories: Paper review, technical, MSR 2019, MLonCode
* Deadlines: TBD
* Link to draft in google doc:

[2019-07-24 13:37] m09 opened #303 "[PROPOSAL] MSR Paper Review: The Maven Dependency Graph: a Temporal Graph-based Representation of Maven Central"
* Author(s): TBD, cf https://github.com/src-d/ml-backlog/issues/55
* Short description: Scientific paper summary/review
* Categories: Paper review, technical, MSR 2019, MLonCode
* Deadlines: TBD
* Link to draft in google doc:

[2019-07-24 13:38] m09 opened #304 "[PROPOSAL] MSR 2019 Recap"
* Author(s): TBD, cf https://github.com/src-d/ml-backlog/issues/55
* Short description: Recap of the Montreal event
* Categories: MSR 2019, MLonCode
* Deadlines: TBD
* Link to draft in google doc:

[2019-07-24 13:39] m09 opened #305 "ML4SE 2019 Recap"
* Author(s): TBD, cf https://github.com/src-d/ml-backlog/issues/55
* Short description: Recap of the Montreal event
* Categories: ML4SE 2019, MLonCode
* Deadlines: TBD
* Link to draft in google doc:

[2019-07-24 13:41] m09 opened #306 "[PROPOSAL] MSR Paper Review: CCFinder & Cross-language clone detection by learning over abstract syntax trees"
* Author(s): @bzz, cf https://github.com/src-d/ml-backlog/issues/55
* Short description: Scientific paper summary/review
* Categories: Paper review, technical, MSR 2019, MLonCode
* Deadlines: TBD
* Link to draft in google doc:

[2019-07-24 14:08] bzz commented on #306
Will be happy to help and take care of this one, original suggestion comes from [this meeting](https://github.com/src-d/minutes/pull/614/files#r297878567).

Here is the preliminary blog post plan, it's not a usual paper-review any more, but rather an overview that touches up on number of relevant work (presented at MSR)

[code]

 @m09 @vmarkovtsev @warenlg please let me know what you guys think ab

[2019-07-24 14:24] m09 commented on #306
The plan looks great to me. Let me know if you want a review at any point when you start working on this!

[2019-07-25 12:19] vmarkovtsev commented on #301
I am taking this one

[2019-07-25 12:21] vmarkovtsev commented on #301
https://docs.google.com/document/d/1k6OUhIS-9_PL1FB9M8r_y6F_V9SPADbSFf6mIilSkNY

[2019-07-25 12:31] m09 commented on #301
@vmarkovtsev it seems we don't have access to the google doc

[2019-07-25 13:27] vmarkovtsev commented on #301
I requested the PDF with the presentation.

[2019-07-25 13:39] vmarkovtsev commented on #301
Google doc permissions fixed.

[2019-07-26 09:07] vcoisne commented on #295
Live https://blog.sourced.tech/post/paper-review-import2vec-learning-embeddings-for-software-libraries/ great job @m09

[2019-07-26 09:07] #295 closed

[2019-07-26 09:26] vmarkovtsev commented on #301
@vcoisne I finished, please review.

[2019-07-29 14:33] bzz commented on #272
@vcoisne done, I think it is ready for the publication:
 - [blog post](https://docs.google.com/document/d/1ymbCJiGCkAHu6XfUl2QO_rKfZl9UYUFbVGjW00ZW1Ao/edit#)
 - [notebook](https://colab.research.google.com/drive/1dBuwvONmvUM5LZ3jRmAJ2OvWt8ov9jV_#scrollTo=tigQHE_4DCFq)

From what I can tell, this is also the first blog post that we release accompanied by an interactive notebook where the reader can

[2019-08-02 09:59] kuba-- opened #307 "We still have `team` link on menu"
**Describe the bug**
Blog's menu still contains `team` link which goes nowhere.

**Expected behavior**
Blog's and landing page menus should be consistent, so right now team link should be replaced by management.

[2019-08-19 21:10] vcoisne commented on #175
I agree with you, I think this would mostly help @bluer73 - What do you think Robbie ?

[2019-08-19 21:17] vcoisne commented on #296
Published https://blog.sourced.tech/post/msr-interview-7-massimiliano-di-penta/

[2019-08-19 21:17] #296 closed

[2019-08-19 21:19] vcoisne commented on #306
@bzz Trying to get visibility into overall content calendar. When do you think you'll be able to write this one ?

[2019-08-19 21:20] vcoisne commented on #305
@m09 Trying to get visibility into the overall content calendar. When do you think you'll be able to write this one?

[2019-08-19 21:22] vcoisne commented on #304
@m09 @vmarkovtsev @warenlg TBH I think it's a bit too late to do a recap. I would focus on the other ones and cancal this one. WDYT ?

[2019-08-19 21:23] vcoisne commented on #303
Can you assign an author to this one @vmarkovtsev ?

[2019-08-19 21:23] vcoisne commented on #302
Can you assign an author to this one @vmarkovtsev ?

[2019-08-19 21:48] vcoisne commented on #297
Please review @eiso @vmarkovtsev @dmitryvinn

[2019-08-19 21:54] vcoisne commented on #272
@bzz sorry about dropping the ball on this. Scheduled for tomorrow

[2019-08-19 22:08] vcoisne commented on #301
@vmarkovtsev reviewed. added some suggestions

[2019-08-19 22:27] vcoisne commented on #299
Can you assign an author to this one @vmarkovtsev ?

[2019-08-19 22:29] vcoisne commented on #300
Can you assign an author to this one @vmarkovtsev ?

[2019-08-19 22:30] vcoisne commented on #299
Can you assign an author to this one @vmarkovtsev ?

[2019-08-19 22:34] vcoisne commented on #291
@vmarkovtsev This one is published https://blog.sourced.tech/post/source-d-datasets-a-blog-series/. Can you create new issues for each datasets as part of this blog series?

[2019-08-19 22:36] vcoisne commented on #282
@vmarkovtsev Ping. Did you get a chance to make the changes you were looking for ? If not Zuri or Dmitry might be able to help.

[2019-08-19 22:37] #272 closed

[2019-08-19 22:41] #219 closed

[2019-08-19 22:45] vcoisne commented on #293
Sorry about not reviewing this earlier @vmarkovtsev. I wouldn't prioritize this one given the backlog and the status of Lookout.

[2019-08-20 07:54] m09 commented on #305
I'm coming back from holidays for retreat, I can start writing only mid september.

[2019-08-20 12:37] bluer73 commented on #175
@vcoisne really keen on this idea- would be great to get one person from each engineering team- it would also be great as a "blog" rather than just Q&A but we could have 4/5 key questions to structure it.

[2019-08-29 19:20] vcoisne opened #308 "[PROPOSAL] IDC confirms the increasing influence of developers in enterprise IT"
* Author(s): @vcoisne
* Short description: IDC Developer Survey and how it relates to source{d}
* Categories: Engineering Observability
* Deadlines: NA
* Link to draft google doc: https://docs.google.com/document/d/1Gt6EeLZWTE-gWQNMv2dFexUQyfZapmvDG-i7ButVCps/edit?ts=5d6579c9

[2019-08-29 23:54] vcoisne opened #309 "[Ebook] Value Stream Management - DevOps Ebook"
* Author(s): Victor
* Short description:

This Ebook will explain where does Sofware Engineering Oberservability / Analytics fit in the current IT landscape (VSM, SDM, DevOps, etc)? What tools can you use to get insights into overall productivity/effectiveness? What metrics should you care about as an IT leader?

* Categories: Engineering Ops

* Deadlines: mid October

* Planning doc: https://docs

[2019-08-30 18:56] vcoisne opened #310 "[PROPOSAL] source{d} CE out of the box metrics"
* Author(s): @vcoisne
* Short description: List of source{d} CE available out of the box
* Categories: Engineering Observability
* Deadlines: Create new documentation page with
* Link to Google doc: https://docs.google.com/document/d/12-KpRtXcXlZcmvxpns7DcjvO-Zh9PTFJdri2uaMh6wI/edit#heading=h.dhsz3nj238ym

[2019-09-01 20:18] bzz commented on #306
I'm sorry for the delay cause by vacations, @vcoisne.

As one of the goals for this one is to have a brief blog post (not a long one) - I'll try to post a draft by the end of next week.

[2019-09-03 18:47] vcoisne commented on #308
Published. https://blog.sourced.tech/post/idc-confirms-the-increasing-influence-of-developers-in-enterprise-it/

[2019-09-03 18:47] #308 closed, assigned to marnovo

[2019-09-05 22:09] vcoisne opened #311 "[Proposal] An analysis of the Cloud Foundry project with source{d} EE"
* Author(s): @vcoisne
* Short description: An analysis of the Cloud Foundry project with source{d} EE
* Categories: Engineering Observability
* Deadlines: Sept 10th (Cloud Foundry EU summit)
* Link to google doc: https://docs.google.com/document/d/1pc-hpAr8Xu34ftp_h6TxIqClqwGj3z5FnDc_hdwPox8/edit?ts=5d6f954f#heading=h.60vn3hxp7sbk

[2019-09-05 22:10] vcoisne commented on #301
Published

[2019-09-05 22:10] #301 closed

[2019-09-06 17:13] #307 closed, assigned to nobody

[2019-09-10 16:44] vcoisne commented on #291
Cadence 1 per month

1. DockerHub - Tristan - September
2. Commit message - @vmarkovtsev - October
3. Typos - @irinakhismatullina - November
4. Duplicates - @vmarkovtsev - December
5. Review comments - @vmarkovtsev - January

[2019-09-16 23:25] vcoisne commented on #311
Published.

[2019-09-16 23:25] #311 closed, assigned to vcoisne

[2019-09-16 23:25] vcoisne commented on #310
Published.

[2019-09-16 23:25] #310 closed, assigned to nobody

[2019-09-16 23:25] vcoisne commented on #309
Work in progress with a contractor.

[2019-09-16 23:26] vcoisne commented on #306
@bzz ping :)

[2019-09-16 23:26] vcoisne commented on #305
ping @m09 :)

[2019-09-16 23:27] vcoisne commented on #304
Too many posts already in the works. This one is not priority. Closing.

[2019-09-16 23:27] #304 closed

[2019-09-16 23:30] vcoisne opened #312 "Fix issues / finalize Ghost setup"
Thank you @vmarkovtsev for creating this doc with the list of tasks left to finalize a proper ghost setup

https://docs.google.com/spreadsheets/d/15ysW90Onf5cdYV-4SXd-JK7YzjOkLLq8EX6VUbgA4eg/edit#gid=0

@znegrin please review and let me know if you have any questions. More context in this issue: https://github.com/src-d/blog/issues/282

[2019-09-16 23:32] vcoisne commented on #282
I created a separate issue to finalize this migration. https://github.com/src-d/landing/issues/463

Closing this one.

[2019-09-16 23:32] #282 closed

[2019-09-16 23:36] vcoisne commented on #291
@vmarkovtsev have you heard back from Tristan ?

[2019-09-16 23:37] vcoisne commented on #299
Ping @vmarkovtsev

[2019-09-16 23:37] vcoisne commented on #300
Ping @vmarkovtsev

[2019-09-16 23:37] vcoisne commented on #302
Ping @vmarkovtsev

[2019-09-16 23:38] vcoisne commented on #303
Ping @vmarkovtsev :)

[2019-09-17 14:19] vmarkovtsev commented on #299
Should be @irinakhismatullina

[2019-09-17 14:20] vmarkovtsev commented on #300
I should take this myself.

[2019-09-17 14:21] vmarkovtsev commented on #302
I think @warenlg or @m09 are good candidates. Guys, who wants this one?

[2019-09-17 14:22] vmarkovtsev commented on #303
@r0mainK is made for this post.

[2019-09-17 18:52] vcoisne commented on #303
@r0mainK 👋 Please let me know when you think you'll be able to share a first draft ?

[2019-09-17 18:53] vcoisne commented on #300
Ok @vmarkovtsev any idea when you can get a draft for this one ?

[2019-09-17 18:53] vcoisne commented on #299
@irinakhismatullina 👋 Please let me know when you think you'll be able to share a first draft ?

[2019-09-17 19:37] r0mainK commented on #303
Hey @vcoisne I will tell you ASAP, I'm off this week but will take a look and tell you first thing on monday !

[2019-09-18 08:49] warenlg commented on #302
I proposed this one, I'd be glad to write it.

[2019-09-18 11:54] vmarkovtsev commented on #291
@vcoisne Tristan wrote:

[2019-09-18 16:02] m09 commented on #305
I'll start writing tomorrow, thanks for the ping :+1:

[2019-09-18 16:02] m09 commented on #305
Feel free to assign me btw, I cannot do it myself.

[2019-09-18 21:34] bzz commented on #306
and of course I did not manage to find the time though the retreat week :/ Sorry about misleading communication.

I will be on vacation and then AFK for a while and shall be able to get back to this first thing on Oct 14th.

[2019-10-04 19:53] vcoisne opened #313 "[PROPOSAL] multi-GPU deep learning"
* Author(s): @vmarkovtsev
* Short description: multi-GPU deep learning
* Categories: ML
* Deadlines: No deadlines

Draft: https://docs.google.com/document/d/1sJj-zkX0qYsLlQDdqUxV25i7XMVblRsknau0HiQIEzY/edit?ts=5d976a0d#

[2019-10-04 19:54] vcoisne commented on #297
Published as a Ebook + blog https://blog.sourced.tech/post/machine-learning-for-software-development-analytics/

[2019-10-04 19:54] #297 closed

[2019-10-04 22:23] vcoisne opened #314 "[PROPOSAL] Quality Metrics"
* Author(s): @vcoisne
* Short description: Quality Metrics
* Categories: Engineering Observability
* Deadlines: NA

Draft: https://docs.google.com/document/d/1V1lRCRnayBD9t4ok3upKToWcwpoA6Pori75kA4OHv2M/edit

[2019-10-07 09:09] znegrin commented on #312
Hi @vcoisne,

I just tried to go and check the document but I have no permission. I just asked for it.

Thank you.

[2019-10-07 10:20] vmarkovtsev commented on #312
Permissions have been granted.

[2019-10-07 11:02] znegrin commented on #312
Thank you!

On Mon, Oct 7, 2019 at 12:20 PM Vadim Markovtsev <notifications@github.com>
wrote:

[2019-10-08 10:42] znegrin commented on #312
I am checking the blog issues and in terms of the code insertion, it seems that it wasn't inserted as in the example post. The blog theme is powered with [prism.js](https://prismjs.com/), which allows to insert the code as a markdown block as explained here:

https://www.matthiggins.dev/ghost-cms-and-syntax-highlighting/

Basically it needs to be introduced with:

` ``` ` followed by the language

[2019-10-08 11:10] znegrin commented on #312
The headers are now fixed. It seems that there was a bug on the theme headers making them uppercase but it is now solved.

![image](https://user-images.githubusercontent.com/14981468/66391266-f5ec1200-e9cc-11e9-8644-2a3829686710.png)

[2019-10-08 11:28] znegrin commented on #312
I added a fix to make all code blocks work fine, event without using prism.js on markdown, although it would be the best option for a proper highlight of the code.

![image](https://user-images.githubusercontent.com/14981468/66392201-757ae080-e9cf-11e9-83c9-84dddf8eb42e.png)

[2019-10-09 04:06] vcoisne commented on #312
Thank you @znegrin

If I am following correctly, minus some minor formatting issues (which I can take care of fixing myself),  it looks like the only ghost setup issue left is:

- Math formulas as Images: Looks like [MathJax](https://ulrik.is/writing/ghost-mathjax/) might be able to solve this issue. Can you take a look at it @znegrin?

cc @vmarkovtsev

[2019-10-11 21:43] vcoisne commented on #312
Ping @znegrin @vmarkovtsev ?

[2019-10-14 09:47] znegrin commented on #312
Hi @vcoisne,

It is now integrated on the blog. I made a quick test to check it out:

![image](https://user-images.githubusercontent.com/14981468/66742523-1a863500-ee78-11e9-8fa1-70182745896d.png)

To make it sure that it works, the formula code must be inserted as a markdown block.

[2019-10-15 17:03] vmarkovtsev commented on #312
Please let me know if something particular is waiting for my review @znegrin

[2019-10-16 17:26] vcoisne commented on #313
Published - https://blog.sourced.tech/post/multi-gpu-deep-learning/

[2019-10-16 17:26] #313 closed, assigned to nobody

[2019-10-16 17:27] vcoisne commented on #314
Published - https://blog.sourced.tech/post/top-4-metrics-to-measure-your-software-delivery-performance/

[2019-10-16 17:27] #314 closed, assigned to nobody

[2019-10-17 22:13] vcoisne opened #315 "[PROPOSAL] MLonCode Intro"
* Author(s): @vcoisne
* Short description: Intro to MLonCode
* Categories: 3rd party site.
* Deadlines: NA

Draft - https://docs.google.com/document/d/1CC0zudc1Zme7BPqR1IaHE5A6bYIyaIayOYl4nAnxRag/edit?ts=5da628cd

[2019-10-21 09:16] znegrin commented on #312
Hi @vmarkovtsev,

I basically reviewed and fixed the design issues on the blog side.
It probably needs some work on individual posts to make them look better but now from the template side, everything is ready. I fixed these points:

-  Code blocks background is now working as expected. If using markdown with a language type tag, it will also be highlighted.

- Code vertical and horizontal scroll

[2019-10-21 10:27] vmarkovtsev commented on #312
@znegrin Regarding the code blocks, the scrollbars should be hidden if they are not needed. For example, at https://blog.sourced.tech/post/handshakes_pagerank/

![image](https://user-images.githubusercontent.com/2793551/67197872-086b4000-f3fe-11e9-997a-6eec5bdbd525.png)

[2019-10-21 10:36] vmarkovtsev commented on #312
@znegrin I guess that the following items are design-related:

- Skewed tweets in e.g. https://blog.sourced.tech/post/activity_hours/ (the google docs has a few more examples)
- Skewed tables in e.g. https://blog.sourced.tech/post/language_migrations/ (the google doc mentions a few in the "Extra" column). I bet that this is a general layout problem, not an individual post's.

Regarding the headers

[2019-10-21 10:37] vmarkovtsev commented on #312
@vcoisne The main complexity now seems to be in porting LaTeX from the old posts. I wonder if we can find somebody to freelance this.

[2019-10-22 04:36] vcoisne commented on #312
@vmarkovtsev @znegrin integrated MathJax so do we need LaTex ? Happy to help with the updates to get it over with once for all :)

[2019-10-22 05:53] vmarkovtsev commented on #312
@vcoisne MathJax is a rendering engine for LaTeX.

[2019-10-29 20:43] bzz commented on #241
This is still in my backlog.

Two more interesting contenders added to the description:
 - https://github.com/google/pasta for python
 - https://comby.dev for assembly, Bash, C/C++, C#, Clojure, CSS, Dart, Elm, Elixir, Erlang, Fortran, F#, Go, Haskell, HTML/XML, Java, Javascript/Typescript, JSON, Julia, LaTeX, Lisp, OCaml, Pascal, PHP, Python, Ruby, Rust, Scala, SQL, Swift, Text